[include]
    path = module/gitalias/gitalias.txt
[core]
    editor = vim
    pager = "less -XF"
[color]
    ui = auto
[grep]
    extendedRegexp = true
[merge]
    tool = emerge
    defaultToUpstream = true
[push]
    default = simple
[diff]
    noprefix = true
[alias]
    st = status --short --branch
    br = branch
